a {
	color: #FFFFFF;
}
#menuVert {
	background-image: url('../Preghi/madonna2.jpg');
	background-repeat: no-repeat;
	background-color: #0B1218;
}
#main{
	background-position: 30px;
	background-color: #0B1218;
	background-repeat: no-repeat;
	float: rigth;
	width: 800px;
	height: 520px;
}
